body{
	font-family: 'Avenir Next', sans-serif;
    color:#606260;
  
    line-height: 175%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

a, a:hover, a:active, a:visited{text-decoration: none; cursor:pointer;}

header{
    background: #ffffff;
   
}

.underground{position: relative;}
/*-------- nav-bar   -------------*/
.nav-bar{
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0; 
  margin-top:30px;
}

.nav-bar li{ 
    padding:0;
    list-style: none; 
    display:inline-block; 
 	flex: 1;
  	text-align: center;
  	padding: 24px;
}

.nav-bar a {
	color:#737573;
    font-family:'Avenir Next', sans-serif;
    font-size:110%;
    margin-left:30px;
    text-transform: uppercase;
    
}

.nav-bar a:hover, .nav-bar a:active, .nav-bar a:visited{
	text-decoration:none;
}

.nav-bar a.selected{ 
    padding-bottom: 5px; 
    border-bottom:2px solid #AB1A1A;}

/*-------- display section  -------------*/

#display{
    position:relative;
}

#display img{ 
   	width:100%;
   /* max-height: 427px;/*
    filter: alpha(opacity=50); /* For IE8 and earlier */
    object-position: center;  
   }
.pushleft{text-align: left; top:40%; font-size:220%;margin-left:20px;}

/*------------ misc sections ---------- */

.social{
   float:right;
}

.logo{margin:0; padding:0; width:34%; }
.tiny{text-align: right;font-size:12px;}
.divider{
    background-color:#4A4A4A;
}

hr{
    background-color: #d8d8d8; 
    height: 1px; 
    border: 0; 
 }

drawline {
  line-height: 1;
  text-align: center;
}

.drawline  {
  display: inline-block;
  position: relative;  
}

h1::after {
  content: "";
  position: absolute;
  height: 22px;
  border-left: 6px solid #AB1A1A;
  top: 0;

}

h1:after {
  left: 100%;
  margin:0 15px;
} 

.force{display: :block; margin-left:10px;}

/*-------- headings  -------------*/

h3{ /*text over main image */
    position: absolute; 
   	top: 40%; 
   	width: 100%;
   	color:#ffffff;
  	font-family:'Avenir Next', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    text-align: center;
    font-size: 100%;
   
    
}

h2{/*divider copy */
    font-size:100%;
    padding:60px;
    color:#ffffff;
    text-align: justify;
    line-height: 200%;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 200;
   
}

h1{
    /*width:100%; */
    font-variant: small-caps; 
    padding-bottom: 10px;
    font-weight: 400;
    font-family:'Avenir Next', sans-serif;
    text-align: left !important;
    font-size: 150%;
    
}

h4{	/*subtitles */
    max-width: 400px;
    font-variant: small-caps;
    margin: 20px 0;
    font-weight: 400;
    text-align: center;
    
}
h4 span{
    color:#ab1a1a;
    top: 0;
    font-weight: 400;
    font-size: 90%;
}

h4 span::before{content:"\a";
    white-space:pre;}

b{
	color:#737573;
}

form label{
	color:#737573;
}

button{ 
	background-color:#ffffff !important;
    color:#AB1A1A !important;
    border:1px solid #737573 !important;
    border:1px solid #AB1A1A!important;
    text-transform: uppercase !important;
    font-size:12px !important;
    margin: 10px 0 !important;
   
}

/*-------- home section  -------------*/

#home{
	margin:20px 0;
} 

#home p{
    display:block;
    text-align: justify;
	}

.line{
	border-right:1px #737573 solid; 
  
}

.event_peek{
    border-left:10px solid #AB1A1A;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-right: 1px solid #979797;
  	max-width: 500px; 
    font-weight: 600;
    padding:6px 20px;
	text-transform: uppercase;
    color:#ab1a1a;
    margin-bottom:20px;
    letter-spacing: 1px;
    font-size:120%;
    text-align: left; 
    
}
.event_peek p{
    color:#737573;
    margin:0;
    font-size:70%;
    font-weight:400; 
    text-align: left;
}

.event_image{
	border: 1px solid #979797;
    margin-bottom:20px;
}


/*-------- about section  -------------*/

#about{margin:20px 0;}

#about p{
    padding-top:20px;
    border-top: 1px solid #d8d8d8;
	text-align: justify;
}

/*-------- members section  -------------*/

#members p{ text-align: center;}

#members img{display:block;margin:0 auto;}

/*-------- projects section  -------------*/

#programs{
	margin:0 auto;
    padding: 40px 0;
   
}

.frame{padding:5px;}
 #programs img {
    display:inline-block!important;
    width: 100%;
    /*margin-top:20px; */
    position:relative;
    text-align: center; 
     margin:0px;
}


.cover{
	position: absolute;
    z-index: 5;
    left: 0; 
    width: 100%;
    height:100%;
    background-color:#ab1a1a;
    top:0px;
  	left:0px;
    /* opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier  */
    display:none; 
}

.frame:hover >.cover {display:inline-block;}

.caption{
	position:relative;
    margin:0 auto;
    top:45%;
    font-size:160%;
    color:#fff;
    font-weight:bold;
    text-align: center;
    line-height: 120%;
    padding:0 10px;

}
.prog_descr {
    position: relative;
   	padding:10px;
    width: 100%;
    color:#ffffff;
    text-align: center;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Half width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(245,245,245,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}






/*-------- contact section  -------------*/
#contact{
	
    margin:0 auto;
    margin-top:60px;
}

#contact p{
    font-size:1em;
    text-align: left; 
    display:block;
    padding-bottom: 10px;
}


.contact-info{ background:#F3F1F1;  text-align: center;}

form{padding:30px 0;}
/*-------- footer  -------------*/
footer{
	background:#ffffff;
    text-align: center;
    color:#737573;
    height:100px;
   	padding-top:20px;
    margin-top:10px;
    border-top:1px solid #d8d8d8;
}

.nav-footer{list-style-type: none; margin:0;padding:0px;}
.nav-footer li{text-align: left;}
.nav-footer li a{ color:#737573;text-decoration: none;}


.thankyou{
	max-width:420px;
    background: #737573;
    color:#ffffff;
    margin:0 auto;
    padding:40px;
}

.thankyou p{text-align: center!important;}
.errortext{color:#f79120;}
a.error_note {text-decoration: none;}


    
   .thankyou h4{ 
       color:#4db9c1; 
       text-align: center;  
       font-size:200%;
       margin:0 auto;
       font-weight: bold;
       margin-top:20px;
}

 .btnback{
     	font-size: 14px;
     	text-align: center;
     	white-space: nowrap;
    	vertical-align: middle;
     	cursor: pointer;
     	border-radius: 4px;
		display: block; 
    	margin:0 auto; 
     	padding:4px 10px;
    	background:#4DB9C1;!important;
     	border:1px solid #4db9c1;
     	color:#ffffff;
}



@media only screen and (max-width : 767px) { /* mobile up to 767px wide --------------------- */
    
    .logo{width:30%; height:auto; display: block; margin:0 auto; margin-top:10px;}
    .nav-bar li{padding: 14px;}
    .nav-bar a { margin-left:0px;font-size:100%;}

	#about{margin:30px 0 30px 0;}
    #about div{margin-bottom:30px;}
    #about div:nth-of-type(2){display:none;}
    #about img, #services img{ width:20%; height:auto;}
    #services, #services h3, #services p.description {text-align:center;}
} 